---
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
  slug: string;
}

const { title, slug } = Astro.props;

import links from './links';
import routes from '../pages/routes';
import ColorPicker from "./ColorPicker.astro";

const sortedRoutes = routes.filter((a) => a.props).sort((a, b) => b.props.createdAt.localeCompare(a.props.createdAt));
const newestRoute = sortedRoutes[0];
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href={`${import.meta.env.BASE_URL}favicon.png`}>
  <meta name="author" content="Angelika Tyborska" />
  <meta name="description" content="Angelika's CSS experiments." />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta property="og:title" content="css-art.angelika.me" />
  <meta property="og:description" content="Angelika's CSS experiments." />
  <meta property="og:type" content="article" />
  <meta property="og:image" content={`https://css-art.angelika.me${import.meta.env.BASE_URL}cover.png`} />
  <meta property="og:image:width" content="300" />
  <meta property="og:image:height" content="300" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@atyborska93" />
  <meta name="twitter:title" content="css-art.angelika.me" />
  <meta name="twitter:description" content="Angelika's CSS experiments." />
  <meta name="twitter:image" content={`https://css-art.angelika.me${import.meta.env.BASE_URL}cover.png`} />

  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
  <script defer data-domain="css-art.angelika.me" src="https://plausible.io/js/script.js"></script>

  <title>{title} | css art</title>

  <ViewTransitions />
</head>
<body>
<div class="app">
  <nav>
    <header>css art</header>
    <p>no svg, no canvas, just divs</p>
    <section>
      <header>grids: </header>
      {links.grids.map(link =>
        <a href={link} aria-current={link === `/${slug}` ? "page" : false}>
          { routes.find(r => r.params.slug === link)?.props.title }
          {link === newestRoute.params.slug ? <span class="new-route-marker">*</span> : ''}
        </a>
      )}
    </section>
    <section>
      <header>misc: </header>
      {links.misc.map(link =>
        <a href={link} aria-current={link === `/${slug}` ? "page" : false}>
          { routes.find(r => r.params.slug === link)?.props.title }
          {link === newestRoute.params.slug ? <span class="new-route-marker">*</span> : ''}
        </a>
      )}
    </section>
    <footer>
      <p>TODO: fix arrow navigation</p>
      <p>use left/right arrows to navigate</p>
      <ColorPicker />
    </footer>
  </nav>
  <main>
    <slot />
  </main>
  <footer>
    <strong>source: </strong><a href="https://github.com/angelikatyborska/css-art">github.com/angelikatyborska/css-art</a>
  </footer>
</div>
</body>
</html>
<style is:global lang="scss">
  @import "../variables";

  * {
    box-sizing: border-box;
  }

  html, body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
  }

  .app {
    background-color: white;
    display: grid;
    grid-template-columns: $grid-side-column-width auto $grid-side-column-width;
    grid-column-gap: $grid-column-gap;
    width: 100%;
    height: 100vh;

    @media screen and (max-width: $mobile-max-width) {
      display: block;
    }
  }

  nav {
    padding: 1rem;

    > header {
      font-weight: bold;
      margin-bottom: 1rem;
    }

    > section {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 1rem;

      header {
        margin-right: 1rem;
        font-weight: bold;
      }

      a {
        margin-right: 1rem;
      }
    }

    label {
      font-weight: bold;
      display: block;
      margin-bottom: 0.5rem;
    }

    > footer {
      align-self: unset;
      padding: unset;
    }
  }

  footer {
    align-self: end;
    padding: 1rem;
  }

  a {
    color: black;
    word-wrap: break-word;

    &[aria-current="page"] {
      text-decoration: none;
      color: $accent;
    }
  }

  .new-route-marker {
    font-weight: bold;
    color: $accent;
  }
</style>
